
p {
  font-family: Lato;
  color:red;

}
hello{
        color: green;
}
.container{
       text-align: center;
       width:30%;
       height: auto;
       margin-left: 35%;
}
h2{
     border-bottom: 1px solid violet;
     padding:5px;
}
h1{
     color: green;
}
label{
    
      margin-bottom:10%;

}
button{
         border:none;
         outline:none;
         background-color: red;
         color:white;
         width: 30%;
         height: 20px;
         border-radius: 10px;

}
button:hover{
               background-color: green;
}